<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam quo fuga voluptate alias beatae assumenda adipisci nisi iste maxime magnam quisquam, praesentium enim dolor facere, hic eligendi consequatur? Iste.</p>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam quo fuga voluptate alias beatae assumenda adipisci nisi iste maxime magnam quisquam, praesentium enim dolor facere, hic eligendi consequatur? Iste.</p>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores numquam quo fuga voluptate alias beatae assumenda adipisci nisi iste maxime magnam quisquam, praesentium enim dolor facere, hic eligendi consequatur? Iste.</p>
        </ul>
    </div>
</div>