<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class=".col g-lg-2">
    <div class="botonl">
        <button type="button" class="btn btn-outline-light" routerLink="/nuevaskill" *ngIf ="isLogged">
            Nueva skill
        </button>
    </div>
</div>
  <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2" *ngFor="let skill of skill">
    <circle-progress
      [percent]="(skill.porcentaje)"
      [radius]="60"
      [showUnits]="false"
      [imageSrc]="''"
      [title]="(skill.nombre)"
      [titleColor]="'orange'"
      [showTitle]="true" 
      [showImage]="false"
      [imageHeight]="60"
      [imageWidth]="40"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#F3850E'"
      [innerStrokeColor]="'orange'"
      [animation]="true"
      [animationDuration]="300"
      [backgroundColor]="'white'"
      [showBackground]="true"
    >
    </circle-progress>

    <td *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
        <i class="bi bi-pencil-fill"></i>
      </button>
    </td>
    <td *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(skill.id)">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </div>
</div>
