<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'Java'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/java-vertical.svg'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="40"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"

            >
        </circle-progress>
    </div>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"
            >
        </circle-progress>
    </div>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/git.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"
            >
        </circle-progress>
    </div>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/CSS.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"
            >
        </circle-progress>
    </div>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/eng.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"
            >
        </circle-progress>
    </div>
    <div class="text-center col-6 col-sm-3 col-md-3 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="60"
            [title]="'HTML'"
            [showUnits]="false"
            [imageSrc]="'../../../assets/iconoseducacion/grupal.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [outerStrokeWidth]="6"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#F3850E'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="300"
            [backgroundColor]="'white'"
            [showBackground]="true"
            >
        </circle-progress>
    </div>
    

</div>